@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600&display=swap');


body {
  margin: 0;
  position: relative;
  background-color: #E4E9F7;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar:hover::after {
  animation: animate 0.5s linear 1 forwards;
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-13px);
    opacity: 0;
  }
}

.active {
  border-bottom: 4px solid rgb(71 85 105 /1)
}